@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

.cm-editor .cm-scroller {
  @apply font-mono;
}

/* Container of .codeeditor and .codeconsole */
.vitcode {
  grid-template: "codeeditor codeconsole" 1fr / 1fr;;
}

.codeeditor {
  grid-area: codeeditor;
}

.codeconsole {
  grid-area: codeconsole;
}